html,
body,
#app-root,
.workbench-main {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

@font-face {
  font-family: "Akzidenz";
  font-weight: normal;
  src: url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdreg.eot");
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdreg.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdreg.ttf")
      format("truetype"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdreg.svg#Akzidenz")
      format("svg");
}

@font-face {
  font-family: "Akzidenz";
  font-weight: 600;
  src: url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.eot");
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.ttf")
      format("truetype"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.svg#Akzidenz")
      format("svg");
}

@font-face {
  font-family: "Akzidenz";
  font-weight: bold;
  src: url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.eot");
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.ttf")
      format("truetype"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/akzidgrostdmed.svg#Akzidenz")
      format("svg");
}

@font-face {
  font-family: "Euclid Circular A";
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Semibold-WebXL.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Semibold-WebXL.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Semibold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-SemiboldItalic-WebXL.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-SemiboldItalic-WebXL.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-SemiboldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Medium-WebXL.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Medium-WebXL.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-MediumItalic-WebXL.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-MediumItalic-WebXL.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Regular-WebXL.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Regular-WebXL.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-RegularItalic-WebXL.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-RegularItalic-WebXL.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/euclid-circular/EuclidCircularA-RegularItalic.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MongoDB Value Serif";
  font-weight: 700;
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Bold.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Bold.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "MongoDB Value Serif";
  font-weight: 500;
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Medium.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Medium.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "MongoDB Value Serif";
  font-weight: 400;
  src:
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Regular.woff")
      format("woff"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Regular.woff2")
      format("woff2"),
    url("https://d2va9gm4j17fy9.cloudfront.net/fonts/value-serif/MongoDBValueSerif-Regular.ttf")
      format("truetype");
}

.workbench-main > div:last-child {
  flex: 1;
  overflow: clip;
}

div.workbench-tab-pane {
  display: none;
  &:has(.workbench-tab-pane-wrap) {
    display: flex;
    height: 100%;
    overflow: auto;
  }
}

.workbench-tab-pane-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: clip;
}

.tab-logo {
  div,
  img {
    width: 24px;
    height: 24px;
  }
}
