.constructors-view {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.constructors-col {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;

  &:first-child {
    padding-left: 10px;
  }
  &:last-child {
    padding-right: 10px;
  }
}

.constructors-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.list-table {
  width: 100%;
  table-layout: fixed;
  font-size: 13px;
}

.list-table-row {
  height: 24px;
}

.list-table-td-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
  white-space: nowrap;
}

.list-table-td-other {
  text-align: center;
}
