html,
body,
#app-root {
  margin: 0;
  height: 100%;
}

.workbench-tabs {
  height: 100%;
  overflow: clip;
}

.workbench-tabs-tabpane {
  height: 100%;
  overflow: clip;
}

.tab-pane-content {
  height: 100%;
  overflow: clip;
}
